{{#each this}}
<ul>
    <li><img
        src="{{flags.svg}}"
        alt="{{name.official}}"
        width="60"
        height="40"
    /><li>
    <li>{{name.official}}</li>
    <li>
        <ul>
            <li><span>Capital: </span>{{capital}}</li>
            <li><span>Population: </span>{{population}}</li>
            <li><span>Languages: </span>{{{languages}}}</li>
        </ul>
    </li>
    </ul>
{{/each}}