{{#each this}}
<ul>
    <li><img
        src="{{flags.svg}}"
        alt="{{name.official}}"
        width="60"
        height="40"
    /><li>
    <li><h3>{{name.official}}</h3></li>
    <li>
        <ul>
            <li><strong>Capital: </strong>{{capital}}</li>
            <li><strong>Population: </strong>{{population}}</li>
            <li><strong>Languages: </strong>{{#each languages}}{{this}}{{/each}}</li>
        </ul>
    </li>
    </ul>
{{/each}}